@{
    //Layout = "~/Themes/ridge-realty/Apps/Core/Views/Shared/_BaseLayout.cshtml";
    Layout = "_BaseLayout.cshtml";
}

<div class="row">
    <div class="col-sm-8">@RenderBody()</div>
    <div class="col-sm-push-1 col-sm-3">@{ RenderZone("Right Column"); }</div>
</div>



@section JavascriptBlockInclude {

        @RenderSection("JavascriptBlockInclude", false)

}