@import "_base.scss";


#article-tiled-list .image-wrapper {
    padding-bottom: 1em;
}

#article-tiled-list .article-item img {
    /*max-width:300px;*/
    margin: 0 auto;
    border: 3px solid #888;
}

#article-tiled-list .article-item .name {
    text-transform: uppercase;
}

#article-tiled-list .article-item .abstract {
    height: 2.5em;
    margin-bottom: 1em;
}

#article-tiled-list .article-item {
    cursor: pointer;
    padding: 2em;
    border: 1px solid #444;
    box-shadow: rgba(255,255,255,.4) 1px 1px 15px;
    margin-bottom: 1.5em;
}

#article-tiled-list .article-item:hover {
    background-color: #333;
    box-shadow: rgba(255,255,255,.7) 1px 1px 15px;
    transition: all ease-in-out .2s;
}


@media (max-width: 992px) {
    /*#article-tiled-list .article-item img {
                max-width: 50%;
            }*/
    #article-tiled-list .article-item {
        padding: 1em;
    }
}


/* insure max size of featured images on tablet & mobile */
@media (max-width: 767px) {
    #article-tiled-list .article-item img,
    #article-tiled img.featured-image,
    .page-home #services .item img,
    .page-facility section .wrapper img {
        /*max-width: 300px;*/ /*30%*/
        max-height: 300px;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    #article-tiled-list .article-item img,
    #article-tiled img.featured-image,
    .page-home #services .item img,
    .page-facility section .wrapper img {
        max-width: 250px; /*60%*/
        display: block;
        margin: 0 auto;
    }
}
/* /insure max size of featured images on tablet & mobile */

#article-list .article-item {
    cursor: pointer;
    padding: 1em 0;
}

#article-list .article-item:hover {
    background-color: #222;
}

#article-list .article-item h3 {
    margin: 0;
    padding: 0;
}



#article-tiled h3 {
    color: #888;
}

#article-tiled img.featured-image {
    float: right;
    max-width: 300px;
    margin: 0 0 1em 1em;
    border-radius: 50%;

    @media only screen and (max-width: 992px) {
        display: block;
        float: none;
        max-width: 100%;
        margin: 0 auto;
        padding: 1.5em;
    }
}



.widget-latest-x-articles ul {
    list-style: none;
    padding: .6em;
    background-color: #222;
    border-radius: 1.5em;
    border: 1px solid #333;

    li {
        padding-bottom: 0;
        display: block;

        a {
            color: inherit;
            color: #888;
            display: block;
            padding: .5em .4em;
        }
    }

    li.title a {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2em;
        color: #666;
        letter-spacing: .1em;

        &:hover {
            background: rgba(255,255,255,0.1);
            color: white;
        }
    }
}
