@import "_base.scss";

body {
    //font-family: Roboto, 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
    font-family: $font-family;
    background-color: $body-background-color;
    color: $font-color; /*rgb(170,170,170);*/
    font-size: $font-size;
    //background: #fff; 

    /* for sticky header */
        /*margin-top: 150px;

        @include breakpoint($tablet) {
            margin-top: 50px;
        }*/
}

h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-hx;
    font-weight: $font-weight-hx;
    color: $font-color-hx;
}

h1, h2,
.h1, .h2 {
    margin-bottom: .5em;
    text-transform: uppercase;
}


a, button {
    transition: all .2s ease-in-out;
}


 .alt-font-color {
     color:#888;
 }    
 
 .highlight {
     color: $highlight-color;
 }

 a.no-format,
.no-format a {
    color: inherit;
    border-bottom: 1px dotted gray;
}

a:hover.no-format,
.no-format a:hover  {
    border-bottom: 0;
    text-decoration: none;
    color: white;
}