@import "_base.scss";



table.cages-price-table td {
    padding: .5em .8em;
}




/*#region Unused?? */

        .home-page-table {
            text-align: left;
            margin: 0 auto;
        }

        .home-page-table td {
            padding: .3em 1em;
        }

        .table-padding-2 td {
            padding: .2em;
        }

        .table-padding-5 td {
            padding: .5em;
        }

/*#endregion */






        