@import "_base.scss";


.page-facility {
    .wrapper {
        padding: 1.5em 1em 1em 1em;

        @media only screen and (max-width: 992px) {
            min-height: 40em;
        }
    }

    .wrapper h3 {
        padding-top: .5em;
        min-height: 2.7em;
    }

    .wrapper p {
        padding-top: 1em;
        min-height: 10em;
    }

}


#services .service {
    min-height: 248px;
    padding: .6em 2em;
}



.page-contact #map {
    @media screen and (max-width: 767px) {
        // limit width of google maps so you can scroll thru page and not get stuck in the map
        width: 85%;
        margin: 0 auto;
    }
}



#page-property-listing {
    .property {
        padding: 1em;
        border-top: 1px solid #efefef;

        &:last-child {
            border-bottom: 1px solid #efefef;
        }

        &:hover {
            background-color: $hover-background-color;
        }
    
        .header {
            margin:0;
        }

        .abstract {
            margin-top: .4em;
        }

        .icon {
            text-align: center;

            & i {
                font-size: 7em;
            }
        }
    }
}



#widget-article-categories {
    
    .header {
        padding-bottom: .2em;
        border-bottom: 1px dotted;
    }
    
    ul  {
       list-style-type: none;
       margin: 0;
       padding:0;
       
       & li {
           display: inline-block;
           border: 1px solid silver;
           font-size: .9em;
           font-weight: 100;
           border-radius: 5px;
           padding: .4em;
           margin: .2em;

           &.active {
               background-color: #f2f2f2;
           }
       } 
    }
}