@import "_base.scss";



#tpl-footer {
    
    & > .wrapper {
        background-color: $footer-background-color;
        color: $footer-font-color;
        border-top: 1px solid #e7e7e7;
        margin-top: 3em;
        padding: 4em 0 0 0;
    }


    a {
        color: black;
    }

    .footer-menu {
        list-style: none;

        li {
            padding-bottom: 1em;
            text-transform: uppercase;

            a {
                border: 0;
                font-weight: 300;
            }
        }

        .header {
            text-transform: uppercase;
            font-size: 1.2em;
            letter-spacing: .2em;
            font-weight: bold;
            color: #555;
        }
    }

    .copyright {
        text-align: center;
        padding-top: 3em;
        color: #666;
        font-size: 1em;
        font-weight: 100;
        font-style: italic;
        list-style: none;
        width: 100%;

        ul {
            padding: 0;
        }

        li {
            display: inline-block;
            border-left: solid 2px #555;
            margin-left: 0;
            padding: 0;
            padding-left: 1em;
            padding-right: 1em;
            line-height: 1;

            &:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

            @include breakpoint($tablet) {
                border: 0;
                display: block;
                margin: 0 0 1em 0;
                padding: 0;
            }
        }
    }


    .middle {
        text-align: center;
        
        @include breakpoint($tablet) {
            padding: 4em 0 5em 0;
        }

        img {
            opacity: .7;
            /*width: 50%;*/
            width: 80%;
        }
    }

    .right {
        float: right;
        padding-right: 2em;
        
        @include breakpoint($tablet) {
            float: none;
            padding-right: 0;
            padding-top: 3em;
        }
    }

    /*@media screen and (max-width: 767px) {
        .middle {
            padding: 4em 0 5em 0;
        }

        .right {
            float: none;
            padding-right: 0;
        }
    }*/

}


ul.contact {
    list-style: none;
    padding: 0;
    margin-bottom: 1em;
}

ul.contact li {
    text-decoration: none;
    margin: 2.5em 0 0 0;
    /*padding: 0 0 0 3.25em;*/
    padding: .8em 0 0 4em;
    position: relative;


    &:first-child {
        margin-top: 0;
    }

    table.hours-table td {
        padding: 0 1em 0.2em 0;
        text-align: left;
        vertical-align: top;
    }

    &:before {
        //-moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
        border-radius: 100%;
        border: solid 2px rgba(255, 255, 255, 0.125);
        display: inline-block;
        font-size: 1.2em; /*0.8em;*/
        height: 2.5em;
        width: 2.5em;
        line-height: 2.35em;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
    }

    @media screen and (max-width: 736px) {
            margin: 1.5em 0 0 0;
    }
}


ul.contact.social li {
    display: inline-block;
    margin-top: 1.2em;
    padding-right: 1em;
    &:not(:first-child) {
        padding-left:0;

    }
    a {
        display:block;
        //font-size: 1.8em;
        //width: 50px;
        //height: 50px;
        //line-height: 50px;
        font-size: 2.0em;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.75em;
        text-align: center;
        border-radius: 50%;
        //border: solid 2px rgba(255, 255, 255, 0.125);
        //line-height: 1.6em;
        background-color: #383838;
        color: $font-color;
        &:hover {
            color: lighten($font-color,35%);
            background: darken($font-color,35%);
        }
    }



}

/*ul.contact.social li {
    display: inline-block;
    &:not(:first-child) {
        padding-left:0;

    }

    a:before {
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
        border-radius: 100%;
        border: solid 2px rgba(255, 255, 255, 0.125);
        display: inline-block;
        font-size: 1.2em; 0.8em;
        height: 2.5em;
        left: 0;
        line-height: 2.35em;
        position: absolute;
        text-align: center;
        top: 0;
        width: 2.5em;
    }
     


    padding-right:0;
    a {
        color: darken($font-color,35%);
        &:hover {
            color: $font-color;
        }
    }
}*/









.jjm {
    color: red;
    @include breakpoint($small) {
        color:aqua;
    }
}


.susy-container {
    //@include container($susy);
    @include container();
}


.susy-wrapper {
    //@include span(12 nest);
}

.div1 {
    @include span(3 of 12);
    //@include span(25%);
    //width: span(3);     //no floats
    background-color: red;
    @include gutters(3em inside);   
}

.div2 {
    @include span(9 of 12 last);
    //@include last;
    //@include span(75%);
    //width: span(9);
    background-color: aqua;
    @include gutters(3em inside);

}
