

// reposition admin navbar
    .mrcms-admin-nav-bar {
        top: initial !important;
        bottom: 0 !important;
    }

    // fix for mrcms-frontendediting.css repositioning html to allow for fixed admin bar
        html {
            margin-top: 0 !important;
        }

        body.mrcms-admin-bar-on {
            margin-bottom: 30px;
        }
